.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #013220;
    color: white;
    font-family: Arial, sans-serif;
  }

  .containerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    background-color: #013220;
    color: white;
    font-family: Arial, sans-serif;
  }

  .topThing {
    position: relative;
  }

  .headerImage {
    height: auto;
    width: 100%;
  }
  
  .textContainer {
    max-width: 800px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .subtitle {
    color: var(--btn);
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .bigTitle {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 200px;
    margin-top: 300px;
    position: absolute;
    left: 25%;
  }
  
  .description {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .servicesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
  }
  
  .serviceCard {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
  }

  .designCAD {
    height: 800px;
    width: 100%;
  }
  
  .serviceCard:hover {
    transform: scale(1.05);
  }
  
  .serviceCard h3 {
    color: var(--btn);
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .serviceCard p {
    color: white;
    font-size: 16px;
  }
  
  .callToAction {
    background-color: transparent;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 40px 0;
  }
  
  .callToAction h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .callToAction p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .callToAction button{
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #00bf63;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .callToAction button:hover {
    background-color: #f5f5f5;
  }
  
  .uniqueSection, .additionalSection {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    margin: 40px 0;
    width: 100%;
    max-width: 1200px;
  }
  
  .uniqueSection h2, .additionalSection h2 {
    font-size: 28px;
    color: var(--btn);
    margin-bottom: 20px;
  }
  
  .uniqueSection p, .additionalSection p {
    font-size: 18px;
    color: white;
  }
  
  @media (max-width: 768px) {
    .textContainer {
      padding: 0 20px;
    }
  
    .servicesGrid {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }